@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-9 col-sm-6">
        @RenderBody()
    </div>
    <div class="col-md-3 col-sm-6">
        @await RenderSectionAsync("Column", required: false) 
        <p>
            Мы все терпеливо отсчитываем последние деньки до прихода весны. Но лучше потратить это время с пользой и начать потихоньку просыпаться от зимней спячки. Вдохновиться на будущие свершения можно уже сейчас, в чём могут помочь высказывания великих людей. Им точно известен секрет того, как поднять себя с дивана и начать действовать!

            Кого же называют великим человеком? Что ж, можно долго искать что-то общее в характерах известных людей разных профессий, стран и эпох. Но одно точно наверняка: Лев Толстой и Стив Джобс, Маргарет Тэтчер, Мухаммед Али и прочие знаменательные личности оставили значимый след в мировой истории. Такого не скажешь о нынешних звёздах-однодневках из популярных соцсетей, о которых забывают почти мгновенно.

            Фразы по-настоящему значимых исторических фигур уходят в народ, порой становясь крылатыми выражениями. Ниже вы найдёте цитаты великих людей, которые в какой-то степени подскажут, почему их имена известны в любой точке земного шара. Эти высказывания многое говорят об их личности, жизненных принципах, отношении к миру и даже о них самих.
        </p>
    </div>
</div>