@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-9 col-sm-6">
        @RenderBody()
    </div>
    <div class="col-md-3 col-sm-6">
        @await RenderSectionAsync("Column", required: false) 

    </div>
</div>