
@using Powerful.Facts.RazorLibrary
@model Calabonga.OperationResults.OperationResult<PowerfulSpace.Facts.Web.ViewModels.FactViewModel>

@{
    ViewData["HideLink"] = true;
}

<div class="row">
    <div class="col">
        @if (!Model.Ok)
        {
            <h1>Ошибка</h1>
            <p class="alert alert-warning">
                @Model.Metadata.Message
            </p>
        }
        else
        {
            <partial name="_Fact" model="@Model.Result"  />
        }
    </div>
</div>

<component type="typeof(Component1)" render-mode="ServerPrerendered"/>

@section Scripts{ 

    <script src="_framework/blazor.server.js"></script>
}