@inherits TagsEditorComponentModel

<div class="mb-3">
    <label asp-for="Tags"></label>
    <div>
        @for (int i = 0; i < Tags.Count; i++)
        {
            <input name="Tags[@i]" value="@Tags[i]" />
        }
    </div>
</div>